

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Home Thermostat</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/images/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png" />
    <link rel="manifest" href="/images/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
    
    <script lang="javascript">
	
	schAction = "OFF";

    function doSubmit(mode,isSchedule)
    {
		schedule="";
		if (isSchedule){
			date_schedule = document.getElementById('date_schedule').value;
			time_schedule = document.getElementById('time_schedule').value;
			schedule = date_schedule + " " + time_schedule;
			//alert(schAction + " : " + schedule);
		}
        var mode = (mode==null ? document.getElementById('mode').value:mode);
        var targetTemp = document.getElementById('targetTemp');
        var temp = (targetTemp==null? document.getElementById('temp').value:targetTemp.value);
        var url = "/set/" + mode + "/" + temp + "?sch=" + (schedule?schedule:"");
        //alert (url);
        location.replace(url);
    }
    </script>
    
</head>
<body>

    <form id="form">
        <input type='hidden' value='{{Target_Temperature}}' name='temp' id='temp' />
        <input type='hidden' value='{{Current_Mode}}' name='mode' id='mode' />
        <div class="jumbotron text-center">
            <div class="container">
                <!-- First Row-->
                <div class="row">
                    <div class="col-xs-12">
                        <font color='green'><h1>{{Current_Temperature}}&deg;F </h1></font>
                        <font color='green'><h3><span class="glyphicon glyphicon-tint" aria-hidden="true"></span>{{Current_Humidity}}%</h3></font>
                    </div>
                </div>
                <!--Second Row-->
                <div class="row">
                    <div class="col-xs-12">
                        &nbsp;
                    </div>
                </div>
                <!-- Third Row-->
                <div class="row">
                    <div class="col-xs-12">
						<div class="btn-group">
							<%	cl='btn-default'
								dis=''
							if Current_Mode=='COOL':
								cl='btn-primary active' 
								dis='disabled=disabled'
							end
							%>
							<button type="button" id="COOL" value="COOL" onClick="doSubmit('COOL')" class='btn btn-lg {{cl}}' {{dis}}>COOL</button>
							<button type="button" class="btn btn-lg {{cl}} " data-toggle="collapse" data-target="#collapseSchedule" aria-expanded="false" aria-controls="collapseExample" onclick='schAction="COOL"'>
								<span class="caret"></span>
								<span class="sr-only">Toggle Dropdown</span>
							</button>
						</div>
                        <button type="button" id="OFF" value="OFF" onClick="doSubmit('OFF')"
                            % if Current_Mode=='OFF': 
                                class="btn btn-lg btn-warning active" disabled="disabled"
                            % else: 
                                class="btn btn-lg btn-default"
                            %end 
                            >&nbsp;OFF&nbsp;</button>
						<div class="btn-group">
						<%	cl='btn btn-lg btn-default'
							dis=''
						if Current_Mode=='HEAT':
							cl='btn btn-lg btn-danger active' 
							dis='disabled=disabled'
						end
						%>
						<button type="button"  id="HEAT" value="HEAT" onClick="doSubmit('HEAT')" class='{{cl}}'{{dis}}>HEAT</button>
						<button type="button" class="btn btn-lg {{cl}} " data-toggle="collapse" data-target="#collapseSchedule" aria-expanded="false" aria-controls="collapseExample" onclick='schAction="HEAT"'>
							<span class="caret"></span>
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						</div>
						<div class="btn-group">
						<%	cl='btn btn-lg btn-default'
							dis=''
						if Current_Mode=='AUTO':
							cl='btn btn-lg btn-success active' 
							dis='disabled=disabled'
						end
						%>
                        <button type="button" id="AUTO" value="AUTO" onClick="doSubmit('AUTO')" class='{{cl}}'{{dis}} >AUTO</button>
						<button type="button" class="btn btn-lg {{cl}} " data-toggle="collapse" data-target="#collapseSchedule" aria-expanded="false" aria-controls="collapseExample" onclick='schAction="AUTO"'>
							<span class="caret"></span>
							<span class="sr-only">Toggle Dropdown</span>
						</button>
                    </div>
					<div class="collapse" id="collapseSchedule">
						<div class="well">
							<div class="form-inline">
								<select class="form-control input-lg" id="date_schedule">
									<% import datetime
									option_date = datetime.date.today()
									end_date = option_date + datetime.timedelta(days=30)
									delta = datetime.timedelta(days=1)
									while option_date <= end_date:
										date_text = option_date.strftime("%a %b %d, %Y")
									%>
									<option value="{{option_date}}">{{date_text}}</option>
									<%	option_date += delta
									end
									%>
								</select>
								<select class="form-control input-lg" id="time_schedule">
									<option value='00:00'>00:00</option>
									<option value='00:15'>00:15</option>
									<option value='00:30'>00:30</option>
									<option value='00:45'>00:45</option>
									<option value='01:00'>01:00</option>
									<option value='01:15'>01:15</option>
									<option value='01:30'>01:30</option>
									<option value='01:45'>01:45</option>
									<option value='02:00'>02:00</option>
									<option value='02:15'>02:15</option>
									<option value='02:30'>02:30</option>
									<option value='02:45'>02:45</option>
									<option value='03:00'>03:00</option>
									<option value='03:15'>03:15</option>
									<option value='03:30'>03:30</option>
									<option value='03:45'>03:45</option>
									<option value='04:00'>04:00</option>
									<option value='04:15'>04:15</option>
									<option value='04:30'>04:30</option>
									<option value='04:45'>04:45</option>
									<option value='05:00'>05:00</option>
									<option value='05:15'>05:15</option>
									<option value='05:30'>05:30</option>
									<option value='05:45'>05:45</option>
									<option value='06:00'>06:00</option>
									<option value='06:15'>06:15</option>
									<option value='06:30'>06:30</option>
									<option value='06:45'>06:45</option>
									<option value='07:00'>07:00</option>
									<option value='07:15'>07:15</option>
									<option value='07:30'>07:30</option>
									<option value='07:45'>07:45</option>
									<option value='08:00'>08:00</option>
									<option value='08:15'>08:15</option>
									<option value='08:30'>08:30</option>
									<option value='08:45'>08:45</option>
									<option value='09:00'>09:00</option>
									<option value='09:15'>09:15</option>
									<option value='09:30'>09:30</option>
									<option value='09:45'>09:45</option>
									<option value='10:00'>10:00</option>
									<option value='10:15'>10:15</option>
									<option value='10:30'>10:30</option>
									<option value='10:45'>10:45</option>
									<option value='11:00'>11:00</option>
									<option value='11:15'>11:15</option>
									<option value='11:30'>11:30</option>
									<option value='11:45'>11:45</option>
									<option value='12:00'>12:00</option>
									<option value='12:15'>12:15</option>
									<option value='12:30'>12:30</option>
									<option value='12:45'>12:45</option>
									<option value='13:00'>13:00</option>
									<option value='13:15'>13:15</option>
									<option value='13:30'>13:30</option>
									<option value='13:45'>13:45</option>
									<option value='14:00'>14:00</option>
									<option value='14:15'>14:15</option>
									<option value='14:30'>14:30</option>
									<option value='14:45'>14:45</option>
									<option value='15:00'>15:00</option>
									<option value='15:15'>15:15</option>
									<option value='15:30'>15:30</option>
									<option value='15:45'>15:45</option>
									<option value='16:00'>16:00</option>
									<option value='16:15'>16:15</option>
									<option value='16:30'>16:30</option>
									<option value='16:45'>16:45</option>
									<option value='17:00'>17:00</option>
									<option value='17:15'>17:15</option>
									<option value='17:30'>17:30</option>
									<option value='17:45'>17:45</option>
									<option value='18:00'>18:00</option>
									<option value='18:15'>18:15</option>
									<option value='18:30'>18:30</option>
									<option value='18:45'>18:45</option>
									<option value='19:00'>19:00</option>
									<option value='19:15'>19:15</option>
									<option value='19:30'>19:30</option>
									<option value='19:45'>19:45</option>
									<option value='20:00'>20:00</option>
									<option value='20:15'>20:15</option>
									<option value='20:30'>20:30</option>
									<option value='20:45'>20:45</option>
									<option value='21:00'>21:00</option>
									<option value='21:15'>21:15</option>
									<option value='21:30'>21:30</option>
									<option value='21:45'>21:45</option>
									<option value='22:00'>22:00</option>
									<option value='22:15'>22:15</option>
									<option value='22:30'>22:30</option>
									<option value='22:45'>22:45</option>
									<option value='23:00'>23:00</option>
									<option value='23:15'>23:15</option>
									<option value='23:30'>23:30</option>
									<option value='23:45'>23:45</option>
								</select>
								<a class="btn btn-lg btn-default" href="javascript:doSubmit(schAction,true)">OK</a>
							</div>
						</div>
					  </div>
					</div>
                </div>
                
                % if Current_Mode != "OFF":
				<!-- Forth Row-->
				<div class="row">
                    <div class="col-xs-12">
						<h4 class="text-center">Starts at {{Schedule}}</h4>
					</div>
				</div>
                <!-- Fifth Row-->
                <div class="row">
                    <div class="col-xs-12">
                    <% c="black"
                    if Status=='HEAT': 
                        c="red" 
                    elif Status=='COOL':
                        c="blue"  
                     end
                     %>
    
                        <h1 style="color:{{c}}"> 
                            % if Status=='HEAT':
                            <span class="glyphicon glyphicon-fire"  aria-hidden="true"></span><small style="color: {{c}};">{{Stage}}</small>
                            % elif Status=='COOL':
                            <span class="glyphicon glyphicon-asterisk"  aria-hidden="true"></span><small style="color: {{c}};">{{Stage}}</small>
                            % else:
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                            % end
                            <select name="targetTemp" id="targetTemp"  onchange="doSubmit(null)">
                                % for t in range(60,90):
                                    % if  Target_Temperature==t:
                                        <option selected>{{t}}</option>
                                    % else:
                                        <option>{{t}}</option>
                                    % end
                                % end
                            </select>&deg;F
                        </h1>
                    </div>
                </div>
                % end
            </div>
        </div>
    </form>






    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>
